langgraph
langchain
langchain-groq
langchain-google-genai
langchain-mistralai
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
python-dotenv
tavily-python
requests
langgraph-checkpoint-postgres
fastapi
uvicorn
jinja2